<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>receivedbooking</title>
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>


        <% userBooking.forEach(elt=> { %>
            <section>
                <h2>This is your reservation:</h2>
                <p> Your Name: <%- elt.name %>
                </p>
                <p>
                    Your Email: <%- elt.email %>
                </p>
                <p>
                    Your phonenumber: <%- elt.phone %>
                </p>
                <p>reservation for: <%- elt.people %> people </p>
                <p>
                    Date & Time:
                    <%- elt.date %>,
                        <%- elt.time %>
                </p>
                <p>Thank you for your reservation! PLease check your Email!
                    We will get in touch with you in case something changes!
                </p>
            </section>
            <% }) %>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="https://kit.fontawesome.com/c63e956a50.js" crossorigin="anonymous"></script>
</body>

</html>